:root {
    --header-background-color: #efeef0;
    --nav-hover-color: lightgray;
    --nav-text-color: black;
    --main-background-color: #D4DFF1;
}

.light-theme {
    --header-background-color: #efeef0;
    --nav-hover-color: lightgray;
    --nav-text-color: black;
    --main-background-color: #D4DFF1;
}

.dark-theme {
    --header-background-color: #efeef0;
    --nav-hover-color: lightgray;
    --nav-text-color: black;
    --main-background-color: #131517;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
}

/** Header Styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--header-background-color);
    padding-left: 10px;
    padding-right: 10px;
    max-height: 15%
}

.siteLogo {
    justify-content: left;
    padding-left: 10%;
    padding-top: 10px;
}

.navigationLinks {
    padding-right: 35%;
    display: flex;
    flex-direction: row;
    gap: 25%;
}
.navigationLinks span {
    padding: 10px;
    color: var(--nav-text-color);
}

.navigationLinks span:hover {
    background-color: var(--nav-hover-color);
    color: white;
    cursor: pointer;
}


/** Body */
.main {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: var(--main-background-color);
    height: 80%;
}

.bigContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 90%;
    height: 100%;
    gap: 30px;
}
.leftSide{
    
    flex: 1;
    margin-left: 100px;
}


#myForm {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10%;
    background-color: #efeef0;
    justify-content: space-around;
    padding: 60px;
    margin-top: 45px;
    margin-right: 45px;
    margin-left: 45px;
    border: 1px black solid;
}

.fieldInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.selection {
    display: flex;
    flex-direction: column;
    gap: 20%;


}
    
.rightSide {
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.faq {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 45px;
    margin-bottom: 55px;
    border: 1px solid black;
    border-radius: 5px;
    width: 10%;
    background-color: #efeef0;
    border-radius: 20px;
}

.faqTitle {
    align-self: center;
}

.questionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10%;
    height: 95%;
}

.questionContainer {
    display: flex;
    flex-direction: column;
}

/** Footer Styles */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #efeef0;
    padding: 15px;
    max-height: 15%
}

.footerLinks {
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding-left: 15%;
}

.contactInfo {
    display: flex;
    flex-direction: row;
    gap: 10%;
}