.App{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: brown;
  height: 100vh;
}
.vert{
  height: 100%;
  background-color: green;
}
.courseContainer{
  display: grid;
  grid-template-rows: 60% 40%;
}
.explain{
  background-color: greenyellow;
}
.allButtons button{
  height: 100px;
  width: 300px;
  background-color: bisque;
}
.topics{
  padding: 50px;
}
