/* General Resets */
body, div, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f6f6;
    line-height: 1.6;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* BOX MODEL */
.box {
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 5px solid #8a4b08;
    margin: 10px;
    background-color: #f4e8c1;
}

.border-box {
    box-sizing: border-box;
}

/* DISPLAY PROPERTY */
.inline {
    display: inline-block;
    margin-right: 10px;
    background-color: #8a4b08;
    color: #f4e8c1;
    padding: 5px;
}

.block {
    display: block; 
    background-color: #ca9359;
    padding: 5px;
}

/* POSITION & Z-INDEX */
.relative-box {
    position: relative;
    top: 20px;
    left: 100px;
    width: 250px;
    height: 150px;
    background-color: #d4a374;
    margin-bottom: 10px;
}

.absolute-box {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #f4e8c1;
    width: 100px;
    height: 50px;
}

.fixed-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8a4b08;
    color: #f4e8c1;
    padding: 10px;
}

.sticky-box {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    background-color: #3e2723;
    color: #f4e8c1;
    padding: 10px;
}

/* FLEXBOX */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container > div {
    flex-basis: 30%;
    background-color: #d4a374;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-container > div {
    background-color: #3e2723;
    color: #f4e8c1;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-container div {
        margin-bottom: 10px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* RELATIVE SIZING */
#relative-sizing p {
    font-size: 1.2em;
}
