@font-face {
    font-family: 'Outfit';
    font-display: swap;
    font-weight: 100, 200, 300, 400, 500;
    src: url('../assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

/** Variables */
:root {
    /** Font-family */
    --font-family-default: 'Outfit';

    /** Font-size */
    --font-size: 24px;

    /** Font-weights */
    --fw-thin: 100;
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 500;

    /** Primary Colours */
    --clr-primary-halloween: #FEF5E6;
    --clr-primary-halloween-hover: #FDDEB0; 
    --clr-primary-halloween-active: #573500;
    --clr-primary-text-light: #FEF5E6;
    --clr-primary-text-dark: #573500;

    /** Secondary Colours */
    --clr-secondary-sun: #DD6031;
    --clr-secondary-rain: #23C9FF;
    --clr-secondary-other: #573500;

    /** Sizes of Stuff */
    --screen-width: 412px;
    --header-height: 100px;
    --footer-height: 100px;

    --button-width: 120px;
    --button-height: 50px;

    --input-width: 350px;
    --input-height: 45px;

    --svg-dimension: 96px;
}

/** Initial setup */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    width: 100%;
}

/** Styling */
html {
    font-size: var(--font-size);
    font-family: var(--font-family-default);
    background: #FFFF;
}

body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.phone {
    width: 412px;
    height: 715px;
    background-color: var(--clr-primary-halloween);
    border: 2px solid var(--clr-primary-text-dark);
    border-radius: 0.5rem;
}