@font-face {
    font-family: 'Outfit';
    font-display: swap;
    font-weight: 300, 400, 600;
    src: url('../assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

/** Variables */
:root {
    /** Font-family */
    --font-family-default: 'Outfit';

    /** Font-size */
    --font-size: 24px;

    /** Font-weights */
    --fw-thin: 100;
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 500;

    /** Primary Colours */
    --clr-primary-melon: #F7B1AB;
    --clr-primary-melon-hover: #E59189; 
    --clr-primary-melon-active: #D17C71;

    /** Secondary Colours */
    --clr-secondary-sun: #FFD400;
    --clr-secondary-snow: #F7F7FF;
    --clr-secondary-rain: #90C2E7;

    /** Sizes of Stuff */
    --screen-width: 412px;
    --header-height: 100px;
    --main-height: 717px;
    --footer-height: 100px;

    --button-width: 120px;
    --button-height: 50px;

    --input-width: 300px;
    --input-height: 45px;

    --weather-display-width: 300px;
    --weather-display-height: 339px;
}

/** Initial setup */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

/** Styling */
html {
    font-size: var(--font-size);
    font-family: var(--font-family-default);
    max-width: 412px;
    max-height: 912px;
}